{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-60">
    <div class="logout-container mt-5">
        <div class="col">
            <div class="card h-100 border-0 shadow-lg  p-5">
                <h1 class="display-4 fw-bold title my-3">
                    <i class="fas fa-sign-out-alt me-2"></i> {% trans "Logout" %}
                </h1>
                {% element p %}
                {% trans 'Are you sure you want to sign out?' %}
                {% endelement %}
                {% url 'account_logout' as action_url %}
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-purple  my-3 btn-rounded">{% trans "Logout" %}</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary mx-2 btn-rounded">{% trans "Cancel" %}</a>
                </form> 
            </div>
        </div>
        
    </div>
</div {% endblock content %}