.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.date-box {
    width: 60px;
    
}

.bg-pink {
    background: var(--primary-color);
}

.bg-blue{
    background: var(--secondary-color);
}

.bg-purple{
    background: var(--tertiary-color);
}

.btn-outline-primary:hover .fa-heart {
    color: #dc3545;
}

.card.wishlist-card {
    transition: transform 0.2s ease;
}

.card.wishlist-card:hover {
    transform: translateY(-3px);
}

.favorite-links-container {
    display: inline-block; /* Ensure the link behaves like a block element */
    max-width: 100%; /* Ensure the link doesn't exceed its container's width */
    white-space: nowrap; /* Prevent the link from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}

.truncated-link {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .avatar-img {
        width: 100px;
        height: 100px;
    }
    
    .friend-detail-header {
        flex-direction: column;
        text-align: center;
    }
}