/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* CSS Variables for Light and Dark Modes */
:root,
:root,
[data-theme="light"] {
    --primary-color: #e83283;
    --secondary-color: #3a8fd9;
    --tertiary-color: #686dc3;
    --black: #000;
    --white: #fff;
    --gray-light: #e0e0e0;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --card-bg: #fff;
    --text-color: #000;
    --navbar-bg: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    --footer-bg: var(--white);
    --footer-text: var(--black);
}

[data-theme="dark"] {
    --primary-color: #d12672;
    --secondary-color: #2e7ab8;
    --tertiary-color: #5a5fad;
    --black: #121212;
    --white: #e0e0e0;
    --gray-light: #343a40;
    --gray:  #6c757d;
    --gray-dark: #bababa;
    --card-bg: #2a2a2a;
    --text-color: #e0e0e0;
    --navbar-bg: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    --footer-bg: var(--black);
    --footer-text: var(--white);
}

/* Base styling */
body {
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] body {
    background-color: var(--black);
    color: var(--white);
}

/* Navbar Styling */
.navbar {
    background: var(--navbar-bg) !important;
    transition: background-color 0.3s ease;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}

.navbar-brand span {
    font-family: "Sigmar", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

/* Navbar Links */
.navbar .nav-link {
    color: var(--white);
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.navbar .nav-link:hover {
    color: rgba(137, 207, 240) !important;
    text-shadow: 0px 0px 5px rgba(137, 207, 240, 0.7);
}

[data-theme="dark"] .navbar .nav-link:hover {
    color: rgb(200, 233, 249) !important;
}

/* Profile Image */
.profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--white);
}

/* root content styles */
.title {
    color: var(--secondary-color) !important;
}

.text-pink {
    color: var(--primary-color);
}

.text-blue {
    color: var(--secondary-color);
}

.text-purple {
    color: var(--tertiary-color);
}

.text-muted {
    background-color: transparent !important; /* Ensure background is transparent */
    color: var(--gray) !important; /* Ensure text color is set correctly */
}

[data-theme="dark"] .text-muted {
    color: var(--white) !important;
}

.list-group-item {
    background-color: var(--card-bg);
    color: var(--text-color); 
    border-color: rgba(0, 0, 0, 0.05); /* Light border for light mode */
}

[data-theme="dark"] .list-group-item {
    border-color: rgba(255, 255, 255, 0.1); /* Darker border for dark mode */
}


/* Footer styling */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    margin-top: auto;  /* Push footer to bottom */
}

.footer-link {
    color: var(--secondary-color);
}

.footer-link:hover {
    color: var(--primary-color) !important;
}

/* Remove default focus outline for social links */
.social-link:focus {
    outline: none;
}

/* Add custom focus styles for accessibility */
.social-link:focus i::before {
    box-shadow: 0 0 0 3px rgba(58, 143, 217, 0.5);
    /* Custom focus outline */
    border-radius: 50%;
    /* Optional: Add rounded corners */
}

/* Custom styles for FontAwesome icons */
i.fab.fa-facebook::before {
    color: #3b5998;
    /* Facebook brand color */
}

i.fab.fa-x-twitter::before {
    color: #1da1f2;
    /* Twitter brand color */
}

i.fab.fa-instagram::before {
    color: #e1306c;
    /* Instagram brand color */
}

i.fab.fa-linkedin::before {
    color: #0077b5;
    /* LinkedIn brand color */
}

/* Add hover effects */
i.fab:hover::before {
    opacity: 0.8;
    /* Slightly reduce opacity on hover */
}


/* Custom Button Styles */
/* pink */
.btn-pink {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.btn-pink:hover {
    transform: scale(1.1);
}

.btn-outline-pink {
    background-color: var(--white);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-pink:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}

.btn-pink:focus,
.btn-pink:active {
    background-color: var(--white);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

/* Dark Mode Overrides */
[data-theme="dark"] .btn-pink {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-pink:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-outline-pink {
    background-color: var(--gray-dark);
    /* Dark background for outline button */
    border-color: var(--primary-color);
    color: var(--primary-color);
}

[data-theme="dark"] .btn-outline-pink:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-pink:focus,
[data-theme="dark"] .btn-pink:active {
    background-color: var(--gray-dark);
    /* Dark background for focus/active state */
    border-color: var(--primary-color);
    color: var(--primary-color);
}



/* blue */
.btn-blue {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.btn-blue:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
    transform: scale(1.1);
}

.btn-outline-blue {
    background-color: var(--white);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-blue:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

.btn-blue:focus,
.btn-blue:active {
    background-color: var(--white);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* Dark Mode Overrides */
[data-theme="dark"] .btn-blue {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-blue:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-outline-blue {
    background-color: var(--gray-dark);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

[data-theme="dark"] .btn-outline-blue:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-blue:focus,
[data-theme="dark"] .btn-blue:active {
    background-color: var(--gray-dark);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* purple */
.btn-purple {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.btn-purple:hover {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--white);
    transform: scale(1.1);
}

.btn-outline-purple {
    background-color: var(--white);
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.btn-outline-purple:hover {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--white);
}

.btn-purple:focus,
.btn-purple:active {
    background-color: var(--white);
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

/* Dark Mode Overrides */
[data-theme="dark"] .btn-purple {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-purple:hover {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-outline-purple {
    background-color: var(--gray-dark);
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

[data-theme="dark"] .btn-outline-purple:hover {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--white);
}

[data-theme="dark"] .btn-purple:focus,
[data-theme="dark"] .btn-purple:active {
    background-color: var(--gray-dark);
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

/* Danger button */
[data-theme="dark"] .btn-outline-danger {
    background-color: var(--gray-dark);
    border-color: #dc3545; /* Red border for danger */
    color: #dc3545; /* Red text for danger */
}

[data-theme="dark"] .btn-outline-danger:hover {
    background-color: #dc3545; /* Red background on hover */
    color: var(--white); /* White text on hover */
}

/* Cards */
.card {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-radius: 1rem;
    border: 1px solid var(--gray-light);
}

.card:hover {
    transform: translateY(-3px); /* Slight lift effect */
}

/* Theme Toggle Button */
#theme-toggle {
    font-size: 1.2rem;
    border: none;
    background: transparent;
    transition: transform 0.2s ease-in-out;
}

#theme-toggle:hover {
    transform: scale(1.1);
}


/* Modal Styles */
.modal-content {
    background-color: var(--card-bg); 
    color: var(--text-color); 
    border: 1px solid var(--gray);
}

.modal-header {
    border-bottom: 1px solid var(--gray); 
}

.modal-footer {
    border-top: 1px solid var(--gray); 
}

/* Dark Mode Overrides */
[data-theme="dark"] .modal-content {
    background-color: var(--card-bg); 
    color: var(--text-color); 
    border-color: var(--gray-dark); 
}

[data-theme="dark"] .modal-header {
    border-bottom-color: var(--gray-dark); 
}

[data-theme="dark"] .modal-footer {
    border-top-color: var(--gray-dark); 
}

[data-theme="dark"] .btn-close {
    filter: invert(1); /* Invert the close button for better visibility in dark mode */
}

/* Ensure form labels and inputs are visible in dark mode */
[data-theme="dark"] .form-label {
    color: var(--text-color); /* Use the text color variable */
}

[data-theme="dark"] .form-control {
    background-color: var(--gray); /* Use the card background color */
    color: var(--text-color); /* Use the text color variable */
    border-color: var(--gray-light); /* Use the gray light variable for borders */
}

/* Adjust theme toggle button margin for smaller screens */
@media (max-width: 768px) {

    /* Bootstrap's breakpoint for large devices */
    .navbar-nav .nav-item:last-child {
        margin-left: 0;
    }
}