{% extends "base.html" %}
{% load static %}

{% block title %}Gift Box{% endblock %}

{% block content %}
<!-- Link to your custom CSS -->
<link rel="stylesheet" href="{% static 'css/gift-box.css' %}">

<div class="container">
<!-- Gift Box Container -->
<div class="gift-container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="shadow"></div>
    <div class="surprise">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
    </div>
    <div class="gift-box">
        <div class="lid">
            <div class="bow"></div>
        </div>       
    </div>
    <div class="text title-text d-flex flex-column justify-content-center align-items-center">
        <a href="{% url 'account_login' %}" class="mt-5 btn btn-lg btn-light fw-bold rounded-pill">
            Start your gift-giving journey today!
        </a>
    </div>
</div>
</div>

<!-- Link to your custom JavaScript -->
<script src="{% static 'js/gift-box.js' %}"></script>
{% endblock %}