.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-edit-avatar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color); /* Use CSS variable for button background */
    border-color: var(--primary-color); /* Use CSS variable for button border */
    color: var(--white); /* Use CSS variable for button text */
    transition: transform 0.2s ease;
}
.btn-edit-avatar:hover {
    transform: scale(1.1);
    
}

/* Dark Mode Overrides for Avatar */
[data-theme="dark"] .avatar-img {
    border-color: var(--gray-dark); 
}

[data-theme="dark"] .btn-edit-avatar {
    background-color: var(--primary-color); 
    border-color: var(--primary-color); 
    color: var(--white); 
}

.card small {
    display: block; /* Ensure small text is on its own line */
    margin-top: 0.5rem; /* Add space above small text */
}

/* Favorite links */
.favorite-links-container a {
    word-wrap: break-word;  /* Break long words */
    white-space: normal;    /* Allow text to wrap */
    display: block;         /* Ensure the link takes full width */
    margin-bottom: 0.5rem;  /* Add spacing between multiple links */
}

/* Responsive Design */
@media (max-width: 768px) {
    .avatar-img {
        width: 100px;
        height: 100px;
    }
    
    .profile-header {
        flex-direction: column;
        text-align: center;
    }
    
    .btn-edit-avatar {
        right: 50%;
        transform: translateX(50%);
    }
}