{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}My Profile{% endblock %}

{% block content %}
<!-- Link to your custom CSS -->
<link rel="stylesheet" href="{% static 'css/myaccount.css' %}">

<div class="container mt-3">
    <h1 class="main-title-text">My Profile</h1>
    <div class="row">
        <!--  profile sidebar -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <div class="profile-picture-container position-relative">
                        {% if myaccount.profile_image %}
                        <img src="{{ myaccount.profile_image.url }}" class="rounded-circle img-fluid"
                            alt="{{ myaccount.title }}">
                        {% else %}
                        <img src="https://res.cloudinary.com/dqm93egis/image/upload/v1738488445/nobody_l7bbqh.jpg"
                            class="rounded-circle img-fluid" alt="placeholder image">
                        {% endif %}
                        <div class="edit-profile-picture" data-bs-toggle="modal"
                            data-bs-target="#uploadProfilePictureModal">
                            <i class="fas fa-camera"></i>
                        </div>
                    </div>
                    <h3 class="mt-3">{{ myaccount.user.username }}</h3>
                    <h4>How's things right now?</h4>
                    <p>{{ myaccount.status_message }}</p>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title">Update Status Message</h4>
                            <form method="post" action="#">
                                {% csrf_token %}
                                {{ status_form|crispy }}
                                <button type="submit" class="btn btn-primary">Update Status</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Profile Content -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                {{ myaccount.content | safe }} 
                <h4 class="card-title">Welcome to your page {{ myaccount.user.username }}</h4>
                    <p><strong>About Me:</strong> {{ myaccount.about_me }}</p>
                    <p><strong>Birthday:</strong> {{ myaccount.birthday }}</p>
                    <p><strong>Favorite Links:</strong> {{ myaccount.favorite_links }}</p>
                    <h4>Likes</h4>
                    <ul class="list-group">
                        {% for like in likes %}
                        <li class="list-group-item">
                            {% if like.event %}
                            <i class="fas fa-calendar-alt"></i> {{ like.user.username }} likes {{ like.event.title
                            }}
                            {% elif like.wishlist_item %}
                            <i class="fas fa-gift"></i> {{ like.user.username }} likes {{
                            like.wishlist_item.item_name }}
                            {% else %}
                            <i class="fas fa-heart"></i> {{ like.user.username }} likes an item
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">Update Profile</h4>
                        <form method="post" action="#">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </form>
                    </div>
                </div>
    
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">Change Username</h4>
                        <form method="post" action="#">
                            {% csrf_token %}
                            {{ username_form|crispy }}
                            <button type="submit" class="btn btn-primary">Change Username</button>
                        </form>
                    </div>
                </div>
    
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">Change Email</h4>
                        <form method="post" action="#">
                            {% csrf_token %}
                            {{ email_form|crispy }}
                            <button type="submit" class="btn btn-primary">Change Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Uploading Profile Picture -->
<div class="modal fade" id="uploadProfilePictureModal" tabindex="-1" aria-labelledby="uploadProfilePictureModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadProfilePictureModalLabel">Upload Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'myaccount:myaccount_home' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Link to your custom JavaScript -->
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}