{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load tz %}

{% block title %}My Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/myaccount.css' %}">

<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold title mb-3">
            <i class="fas fa-user me-2"></i> Your Profile
        </h1>
        <p class="lead">All your information in one place!</p>
    </div>

    <div class="row g-4">
        <!-- Left Column: Profile Header and Friends List -->
        <div class="col-lg-4">
            <!-- Profile Header -->
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body text-center m-2">
                    <div class="profile-avatar-wrapper position-relative d-inline-block">
                        {% if myaccount.profile_image %}
                        <img src="{{ myaccount.profile_image.url }}" class="rounded-circle avatar-img shadow"
                            alt="{{ myaccount.user.username }}">
                        {% else %}
                        <img src="https://res.cloudinary.com/dqm93egis/image/upload/v1738488445/nobody_l7bbqh.jpg"
                            class="rounded-circle avatar-img shadow" alt="Default profile image">
                        {% endif %}
                        <button class="btn btn-pink btn-edit-avatar position-absolute bottom-0 end-00"
                            data-bs-toggle="modal" data-bs-target="#uploadProfilePictureModal"
                            title="Edit Profile Picture" aria-label="Edit Profile Picture">
                            <i class="fas fa-camera"></i>
                        </button>
                    </div>
                    <h2 class="display-1 fw-bold title my-2">
                        {{ myaccount.user.username }}
                    </h2>
                    <p class="lead  mb-0">
                        <i class="fas fa-quote-left my-2 me-2"></i>
                        {{ myaccount.status_message|default:"🎁 Ready to share the gift of connection!" }}
                        <i class="fas fa-quote-right me-2"></i>
                    </p>
                    <button class="btn btn-outline-purple my-3" data-bs-toggle="collapse" data-bs-target="#editStatus">
                        <i class="fas fa-edit me-2"></i>Update Status
                    </button>
                    <div class="collapse form-fields mt-3" id="editStatus">
                        <form method="post" action="{% url 'myaccount:myaccount_home' %}">
                            {% csrf_token %}
                            {{ status_form.status_message|as_crispy_field }}
                            <button type="submit" class="btn btn-pink my-3">
                                <i class="fas fa-save me-2"></i>Save changes
                            </button>
                        </form>
                    </div>
                    
                    
                </div>
            </div>

            <!-- About Me Section -->
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body m-2 mb-2">
                    <h3 class="h4 card-title mb-3 text-pink">
                        <i class="fas fa-info-circle me-2"></i>About Me
                    </h3>
                    <div class="col-12">
                        <div class="card h-100 border-0 shadow-sm">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p>{{ myaccount.about_me|default:"Share something about yourself!" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="h4 card-title my-3 text-blue">
                        <i class="fas fa-cake-candles me-2"></i>My birthday
                    </h3>
                    <div class="col-12">
                        <div class="card h-100 border-0 shadow-sm">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p>{{ myaccount.birthday|default:"Let friends know when to wish you 'Happy Birthday!'" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <h3 class="h4 card-title my-3 text-purple">
                        <i class="fas fa-link me-2"></i>My Favourite links
                    </h3>
                    <div class="col-12">
                        <div class="card h-100 border-0 shadow-sm">
                            <div class="card-body d-flex flex-column">
                                <div class="favorite-links-container">
                                    <div class="fw-bold">
                                        <a href="{{ myaccount.favorite_links }}" class="truncated-link"
                                            title="{{ myaccount.favorite_links }}" target="_blank" rel="noopener">
                                            {{ myaccount.favorite_links|urlize|default:"No links added" }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-blue mt-3" data-bs-toggle="collapse" data-bs-target="#editAbout">
                        <i class="fas fa-edit me-2"></i>Edit
                    </button>
                    <!--  Edit details form -->
                    <div class="collapse form-fields mt-3" id="editAbout">
                        <form method="post" action="{% url 'myaccount:myaccount_home' %}">
                            {% csrf_token %}
                            {{ details_form.about_me|as_crispy_field }}
                            {{ details_form.birthday|as_crispy_field }}
                            {{ details_form.favorite_links|as_crispy_field }}
                            <button type="submit" class="btn btn-purple">
                                <i class="fas fa-save me-2"></i>Save Changes
                            </button>
                        </form>
                    </div>
                    <!-- Delete Account Button -->
                    <div class="mt-auto d-flex justify-content-start">
                        <button class="btn btn-outline-danger mt-3" data-bs-toggle="modal"
                            data-bs-target="#deleteAccountModal">
                            <i class="fas fa-trash-alt me-2"></i>Delete Account
                        </button>
                    </div>
                </div>
            </div>

            <!-- Friends List -->
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body m-2">
                    <h3 class="h4 card-title text-purple mb-3">
                        <i class="fas fa-users me-2"></i>Friends
                    </h3>
                    <div class="friends-list" style="max-height: 400px; overflow-y: auto;">
                        {% if friends %}
                        <div class="list-group list-group-flush">
                            {% for friend in friends %}
                            <div class="list-group-item d-flex align-items-center">
                                <img src="{{ friend.myaccount.profile_image.url|default:'https://res.cloudinary.com/dqm93egis/image/upload/v1738488445/nobody_l7bbqh.jpg' }}"
                                    class="rounded-circle me-3" width="40" height="40" alt="{{ friend.username }}">
                                <span>{{ friend.username }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="text-center py-4">
                            <i class="fas fa-user-friends fa-3x  mb-3"></i>
                            <p class="">No friends yet. Start adding friends to share gifts!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column: About, Upcoming Events, and Wishlist -->
        <div class="col-lg-8">

            <!-- Upcoming Events Card -->
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body m-2">
                    <h3 class="h4 card-title mb-4 text-pink">
                        <i class="fas fa-calendar-alt me-2"></i> My Upcoming Events
                    </h3>
                    <div class="row">
                        {% if events %}
                        {% for event in events %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div>
                                            <div class="fw-bold">{{ event.title }}</div>
                                            <small>{{ event.start|date:"M d, Y" }}</small>
                                        </div>
                                    </div>
                                    <div class="mt-auto text-start">
                                        <i class="fas fa-clock fa-2x text-purple me-2"></i>
                                        <small class="text-muted">
                                            {%if event.days_remaining > 0 %}
                                            {{ event.days_remaining }} day{{ event.days_remaining|pluralize }} to go
                                            {% else %}
                                            Today!
                                            {% endif %}
                                        </small>
                                    </div>
                                    <br>
                                    <div>
                                    <i class="text-end fas fa-heart text-pink"></i>
                                    <span class="text-pink"> {{ event.like_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-12 text-center py-4">
                            <i class="fas fa-calendar-times fa-3x text-muted mb-3"></i>
                            <p class="text-muted">No upcoming events. Start planning!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Wishlist Card -->
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body m-2">
                    <h3 class="h4 card-title mb-4 text-blue">
                        <i class="fas fa-gift me-2"></i>My Wishlist
                    </h3>
                    <div class="row">
                        {% if wishlist_items %}
                        {% for item in wishlist_items %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div>
                                            <div class="fw-bold">{{ item.item_name }}</div>
                                            <small class="text-muted">
                                                {{ item.category|default:"Uncategorized" }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                            
                                                <small>
                                                    Reserved by:
                                                    {% if item.reserved_by %}
                                                    <div class="list-group-item d-flex align-items-center">
                                                        <img src="{{ friend.myaccount.profile_image.url|default:'https://res.cloudinary.com/dqm93egis/image/upload/v1738488445/nobody_l7bbqh.jpg' }}"
                                                            class="rounded-circle me-3" width="20" height="20" alt="{{ friend.username }}">
                                                        <span>{{ friend.username }}</span>
                                                    </div>
                                                    {% else %}
                                                    <span class="text-muted">No reservation for this items yet.</span>
                                                    {% endif %}
                                                </small>
                                                <br>
                                                <div>
                                                    <span>
                                                        <i class="fas fa-heart text-pink me-1"></i><span
                                                            class="text-pink"> {{ item.like_count }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-12 text-center py-4">
                            <i class="fas fa-gift fa-3x text-muted mb-3"></i>
                            <p class="text-muted">No wishlist items yet. Add some gifts!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Reserved Gifts Section -->
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body m-2">
                    <h3 class="h4 card-title mb-4 text-purple">
                        <i class="fas fa-gift me-2"></i>Friends' Gifts I've reserved
                    </h3>
                    <div class="row">
                        {% if reserved_gifts_by_user %}
                        {% for gift in reserved_gifts_by_user %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div class=""mb>
                                            <div>
                                                <span><i class="fas fa-user me-2"></i> 
                                                    Reserved for: <span class="text-blue fw-bold">{{ gift.user.username }}</span>
                                                </span>
                                            </div>
                                            <br>
                                            <div class="fw-bold">
                                                {% if gift.thumbnail_url %}
                                                <img src="{{ gift.thumbnail_url }}" alt="{{ gift.item_name }}"
                                                    class="img-fluid mb-2">
                                                {% else %}
                                                {% endif %}
                                                {{ gift.item_name }}
                                            </div>
                                            <small class="text-muted">
                                                Category:
                                                {% if gift.category %}
                                                {{ gift.category.name }}
                                                {% else %}
                                                Uncategorized
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        
                                        <!-- Countdown to Occasion Date -->
                                        {% if gift.occasion_date %}
                                        <div class="mt-2">
                                            <small class="text-purple fw-bold">
                                                <i class="fas fa-calendar-day text-black me-1"></i>
                                                {% if gift.days_remaining > 0 %}
                                                {{ gift.days_remaining }} day{{ gift.days_remaining|pluralize }} to go
                                            {% else %}
                                                Today!
                                                {% endif %}
                                            </small>
                                        </div>
                                        {% else %}
                                        <div class="mt-2">
                                            <small class="text-muted">
                                                <i class="fas fa-calendar-day text-black me-1"></i>
                                                No date associated with this category.
                                            </small>
                                        </div>
                                        {% endif %}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <br>
                                                <div>
                                                    <span>
                                                        <i class="fas fa-heart text-pink me-1"></i>
                                                        <span class="text-pink"> {{ gift.like_count }}</span>
                                                        <!-- Display like count -->
                                                    </span>
                                                </div>                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-12 text-center py-4">
                            <i class="fas fa-gift fa-3x text-muted mb-3"></i>
                            <p class="text-muted">No reserved gifts yet. Start reserving your friend's gifts!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>




<div class="modal fade" id="uploadProfilePictureModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-camera text-pink me-2"></i> Update Profile Photo
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" title="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ image_form|crispy }}
                    <!-- Upload New Image Button -->
                    <button type="submit" name="upload_image" class="btn btn-purple">
                        <i class="fas fa-upload me-2"></i>Upload Photo
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteAccountModalLabel">
                    <i class="fas fa-exclamation-triangle me-2"></i>Delete Account
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Are you sure you want to delete your account? <span class="fw-bold">This action cannot be
                        undone</span>.
                </p>
                <p class="small">
                    <span class="fw-bold">All</span> your data, including friends, wishlists, and events, will be
                    permanently deleted.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <form method="post" action="{% url 'myaccount:delete_account' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt me-2"></i>Delete Account
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}